<div>
  <div class="_1140">
    <h2 class="activities-h2b top-section"><em class="italic-text">Acti</em><span
        class="vida-break-word">VidΔ</span><span class="des-break-word">Des</span></h2>
    <div class="w-row">
      <div class="no-padding-col w-col w-col-5">
        <h4 id="mes">Agosto 2020</h4>
      </div>
      <div class="no-padding-col w-col w-col-7">
        <p class="smaller-p">Valor: <span class="small-number">1</span> × $200 — <span class="small-number">8</span> ×
          $1200</p>
      </div>
    </div><a data-w-id="48b4d495-f5a4-5325-2b67-9fa3a5136db9" href="#" class="activity-filter">Regulares<span
        class="filter-arrow">▲</span></a>
    <div class="form-block w-form">
      <form id="wf-form-actividades-form" name="wf-form-actividades-form" data-name="actividades-form">
        <div class="flex-columns">
          <div class="flex-left-col">
            <div class="activity-card">
              <div class="info-block">
                <a data-w-id="51b2c16a-337c-ce5a-46fb-5fefacdbe965" href="#" class="info-close-bttn w-inline-block">
                  <div class="text-block-3">×</div>
                </a>
                <h3 class="activities-h3">Vinyasa Budawild</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                  tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                  vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
              <div class="activity-block">
                <div>
                  <div class="w-row">
                    <div class="normal-leftcol w-col w-col-9">
                      <h3 class="activities-h3">Vinyasa Budawild</h3>
                      <div class="all-caps-text">Jean-Paul Massonnier</div>
                    </div>
                    <div class="flex-right-col w-col w-col-3"></div>
                  </div>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col width-auto">
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>D</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>L</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>J</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>V</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>S</div>
                      </div>
                    </div>
                    <div class="flex-right-col left-padding-0">
                      <div class="time-chart"></div>
                      <div>18:00 a 19:30h.</div>
                    </div>
                  </div>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col vertical">
                      <div class="label">Modalidad:</div>
                      <div class="all-caps-text">Grupal</div>
                    </div>
                    <div class="flex-right-col vertical">
                      <div class="label">Exigencia:</div>
                      <div class="all-caps-text">Media</div>
                    </div>
                  </div>
                </div>
                <div class="select-block"><label class="w-checkbox activity-checkbox">
                    <div class="checkbox-text">Martes <span class="fecha">fecha</span></div><input type="checkbox"
                      id="a1_vinyasa-budawild_18:00_mar" name="a1_vinyasa-budawild_18-00_mar"
                      data-name="a1_vinyasa-budawild_18:00_mar" add-act="a1_vinyasa-budawild_18:00_mar"
                      class="w-checkbox-input checkbox"><span for="a1_vinyasa-budawild_18:00_mar"
                      class="checkbox-label w-form-label">Checkbox 100</span>
                  </label><label class="w-checkbox activity-checkbox bottom">
                    <div class="checkbox-text">Jueves <span class="fecha">fecha</span></div><input type="checkbox"
                      id="a1_vinyasa-budawild_18:00_jue" name="a1_vinyasa-budawild_18-00_jue"
                      data-name="a1_vinyasa-budawild_18:00_jue" add-act="a1_vinyasa-budawild_18:00_jue"
                      class="w-checkbox-input checkbox"><span for="a1_vinyasa-budawild_18:00_jue"
                      class="checkbox-label w-form-label">Checkbox 100</span>
                  </label></div>
                <a data-w-id="f12780da-9123-d972-15f1-26b43699c5ca" href="#" class="info-bttn w-inline-block">
                  <div class="text-block-3">i</div>
                </a>
              </div>
            </div>
          </div>
          <div class="flex-right-col">
            <div class="activity-card">
              <div class="info-block">
                <a data-w-id="ac06ccb6-1c99-877c-cb41-25c69b40f20d" href="#" class="info-close-bttn w-inline-block">
                  <div class="text-block-3">×</div>
                </a>
                <h3 class="activities-h3">hatha<br>flow</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                  tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                  vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
              <div class="activity-block">
                <div>
                  <div class="w-row">
                    <div class="normal-leftcol w-col w-col-8">
                      <h3 class="activities-h3">Hatha Flow</h3>
                      <div class="all-caps-text">Agustina Venzano</div>
                    </div>
                    <div class="flex-right-col w-col w-col-4"></div>
                  </div>
                  <a data-w-id="740dc28c-5f99-5147-73ee-6c1f4db68577" href="#" class="info-bttn w-inline-block">
                    <div class="text-block-3">i</div>
                  </a>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col width-auto">
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>D</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>L</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>J</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>V</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>S</div>
                      </div>
                    </div>
                    <div class="flex-right-col left-padding-0">
                      <div class="time-chart rotate150"></div>
                      <div>11:00 a 12:30h.</div>
                    </div>
                  </div>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col vertical">
                      <div class="label">Modalidad:</div>
                      <div class="all-caps-text">Grupal</div>
                    </div>
                    <div class="flex-right-col vertical">
                      <div class="label">Exigencia:</div>
                      <div class="all-caps-text">baja</div>
                    </div>
                  </div>
                </div>
                <div><label class="w-checkbox activity-checkbox">
                    <div class="checkbox-text">Martes <span class="fecha">fecha</span></div><input type="checkbox"
                      id="a2_hatha-flow_11:00_mar" name="a2_hatha-flow_11-00_mar" data-name="a2_hatha-flow_11:00_mar"
                      add-act="a2_hatha-flow_11:00_mar" class="w-checkbox-input checkbox"><span
                      for="a2_hatha-flow_11:00_mar" class="checkbox-label w-form-label">Checkbox 100</span>
                  </label><label class="w-checkbox activity-checkbox bottom">
                    <div class="checkbox-text">Jueves <span class="fecha">fecha</span></div><input type="checkbox"
                      id="a2_hatha-flow_11:00_jue" name="a2_hatha-flow_11-00_jue" data-name="a2_hatha-flow_11:00_jue"
                      add-act="a2_hatha-flow_11:00_jue" class="w-checkbox-input checkbox"><span
                      for="a2_hatha-flow_11:00_jue" class="checkbox-label w-form-label">Checkbox 100</span>
                  </label></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-columns">
          <div class="flex-left-col">
            <div class="activity-card">
              <div class="info-block">
                <a data-w-id="0da09bcc-fbd1-b568-3747-d00f2d46648c" href="#" class="info-close-bttn w-inline-block">
                  <div class="text-block-3">×</div>
                </a>
                <h3 class="activities-h3">buda<br>thai</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                  tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                  vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
              <div class="activity-block">
                <div>
                  <div class="w-row">
                    <div class="normal-leftcol w-col w-col-9">
                      <h3 class="activities-h3">buda<br>thai</h3>
                      <div class="all-caps-text">jean-paul massonnier</div>
                    </div>
                    <div class="flex-right-col w-col w-col-3"></div>
                  </div>
                  <a data-w-id="88d17955-fc49-e4cf-ab8e-131f3857d56e" href="#" class="info-bttn w-inline-block">
                    <div class="text-block-3">i</div>
                  </a>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col width-auto">
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>D</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>L</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>J</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>V</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>S</div>
                      </div>
                    </div>
                    <div class="flex-right-col left-padding-0">
                      <div class="time-chart"></div>
                      <div>16:00 a 17:30h.</div>
                    </div>
                  </div>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col vertical">
                      <div class="label">Modalidad:</div>
                      <div class="all-caps-text">Grupal</div>
                    </div>
                    <div class="flex-right-col vertical">
                      <div class="label">Exigencia:</div>
                      <div class="all-caps-text">Media</div>
                    </div>
                  </div>
                </div>
                <div><label class="w-checkbox activity-checkbox bottom">
                    <div class="checkbox-text">Viernes <span class="fecha">fecha</span></div><input type="checkbox"
                      id="a3_Hatha-free_16:00_vie" name="a3_Hatha-free_16-00_vie" data-name="a3_Hatha-free_16:00_vie"
                      add-act="a3_Hatha-free_16:00_vie" class="w-checkbox-input checkbox"><span
                      for="a3_Hatha-free_16:00_vie" class="checkbox-label w-form-label">Checkbox 100</span>
                  </label></div>
              </div>
            </div>
          </div>
          <div class="flex-right-col">
            <div class="activity-card">
              <div class="info-block">
                <a data-w-id="7b1931e4-af39-b697-bc6b-44c660e7ffd4" href="#" class="info-close-bttn w-inline-block">
                  <div class="text-block-3">×</div>
                </a>
                <h3 class="activities-h3">acro<br>yoga</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                  tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                  vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
              <div class="activity-block">
                <div>
                  <div class="w-row">
                    <div class="normal-leftcol w-col w-col-9">
                      <h3 class="activities-h3">Acro<br>Yoga</h3>
                      <div class="all-caps-text">fernanda argüello</div>
                    </div>
                    <div class="flex-right-col w-col w-col-3"></div>
                  </div>
                  <a data-w-id="c1a8efd1-5f4b-b921-7531-d66d82652519" href="#" class="info-bttn w-inline-block">
                    <div class="text-block-3">i</div>
                  </a>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col width-auto">
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>D</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>L</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>M</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart checked"></div>
                        <div>J</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>V</div>
                      </div>
                      <div class="day-block">
                        <div class="day-heart"></div>
                        <div>S</div>
                      </div>
                    </div>
                    <div class="flex-right-col left-padding-0">
                      <div class="time-chart"></div>
                      <div>18:00 a 19:30h.</div>
                    </div>
                  </div>
                  <div class="flex-columns keep-horizontal">
                    <div class="flex-left-col vertical">
                      <div class="label">Modalidad:</div>
                      <div class="all-caps-text">Grupal</div>
                    </div>
                    <div class="flex-right-col vertical">
                      <div class="label">Exigencia:</div>
                      <div class="all-caps-text">EXTREMA</div>
                    </div>
                  </div>
                </div>
                <div><label class="w-checkbox activity-checkbox">
                    <div class="checkbox-text">Lunes <span class="fecha">FEcha</span></div><input type="checkbox"
                      id="a4_Acro-Yoga_18:00_lun" name="a4_Acro-Yoga_18-00_lun" data-name="a4_Acro-Yoga_18:00_lun"
                      add-act="a4_Acro-Yoga_18:00_lun" class="w-checkbox-input checkbox"><span
                      for="a4_Acro-Yoga_18:00_lun" class="checkbox-label w-form-label">Checkbox 101</span>
                  </label><label class="w-checkbox activity-checkbox bottom">
                    <div class="checkbox-text">Jueves <span class="fecha">FECHA</span></div><input type="checkbox"
                      id="a4_Acro-Yoga_18:00_jue" name="a4_Acro-Yoga_18-00_jue" data-name="a4_Acro-Yoga_18:00_jue"
                      add-act="a4_Acro-Yoga_18:00_jue" class="w-checkbox-input checkbox"><span
                      for="a4_Acro-Yoga_18:00_jue" class="checkbox-label w-form-label">Checkbox 100</span>
                  </label></div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="be0c7906-42c4-bec8-520d-6ec329937f34" style="height:0PX" class="booking-wrapper"><a
            data-w-id="bb71d068-b3ed-7e45-8cba-2c87a2f897ff" href="#" class="arrow-link">reserva semanal<span
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(180DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(180DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(180DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(180DEG) skew(0, 0)"
              class="arrow-show-hide">▼</span></a>
          <div class="booking-container">
            <div class="booking-form-line"></div>
            <div class="_1140">
              <div id="detalle">
                <div id="template" class="booking-form-block summary">
                  <div class="input-block summary">
                    <p class="activity-item">Vinyasa Budawild</p>
                  </div>
                  <div class="input-block summary">
                    <p class="day-item">MAR — JUE</p>
                    <p class="hours-item">18:00</p>
                  </div>
                  <div class="_248-block"></div>
                </div>
              </div>
              <div
                style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="booking-form-block">
                <div class="input-block"><input type="text" class="text-field w-input" maxlength="256" name="name-2"
                    data-name="Name 2" placeholder="Nombre" id="name-2" required=""></div>
                <div class="input-block"><input type="email" class="text-field w-input" maxlength="256" name="Email"
                    data-name="Email" placeholder="Email" id="Email" required=""></div><input type="submit"
                  value="Reservar" data-wait="por favor espere..." class="main-btn submit w-button">
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div><a data-w-id="41ce468e-c8c0-74a5-425e-da099b097c51" href="#" class="activity-filter orange">Eventos
      Espæciales<span class="filter-arrow">▲</span></a>
    <div class="form-block-2 w-form">
      <form id="wf-form-actividades-form" name="wf-form-actividades-form" data-name="actividades-form">
        <div class="flex-columns">
          <div class="full-with-col">
            <div class="activity-block">
              <div class="activity-overlay">
                <p>No existen eventos especiales en este momento.</p>
              </div>
              <div>
                <div class="w-row">
                  <div class="normal-leftcol w-col w-col-9">
                    <h3 class="activities-h3">animal flow</h3>
                    <div class="all-caps-text">sebastian robles</div>
                  </div>
                  <div class="flex-right-col w-col w-col-3"></div>
                </div>
                <div class="flex-columns keep-horizontal">
                  <div class="flex-left-col width-auto">
                    <div class="day-block">
                      <div class="day-heart"></div>
                      <div>D</div>
                    </div>
                    <div class="day-block">
                      <div class="day-heart"></div>
                      <div>L</div>
                    </div>
                    <div class="day-block">
                      <div class="day-heart checked"></div>
                      <div>M</div>
                    </div>
                    <div class="day-block">
                      <div class="day-heart"></div>
                      <div>M</div>
                    </div>
                    <div class="day-block">
                      <div class="day-heart checked"></div>
                      <div>J</div>
                    </div>
                    <div class="day-block">
                      <div class="day-heart"></div>
                      <div>V</div>
                    </div>
                    <div class="day-block">
                      <div class="day-heart"></div>
                      <div>S</div>
                    </div>
                  </div>
                  <div class="flex-right-col left-padding-0">
                    <div class="time-chart"></div>
                    <div>18:00 a 19:30h.</div>
                  </div>
                </div>
                <div class="flex-columns keep-horizontal">
                  <div class="flex-left-col vertical">
                    <div class="label">Modalidad:</div>
                    <div class="all-caps-text">Grupal</div>
                  </div>
                  <div class="flex-right-col vertical">
                    <div class="label">Exigencia:</div>
                    <div class="all-caps-text">Media</div>
                  </div>
                </div>
              </div>
              <div class="select-block"><label class="w-checkbox activity-checkbox">
                  <div class="checkbox-text">MArtes</div><input type="checkbox" id="checkbox-99" name="checkbox-5"
                    data-name="Checkbox 5" add-act="a1_vinyasa-budawild_18:00_martes"
                    data-w-id="bb9d9a86-c351-555c-f9a0-40b68f85466e" class="w-checkbox-input checkbox"><span
                    class="checkbox-label w-form-label">Vinyasa Budawild</span>
                </label></div>
            </div>
          </div>
          <div class="flex-left-col"></div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>