<div data-w-id="36d0ee36-5bc8-c9e1-a945-8d10d22193f2" class="tabs-menu w-tab-menu">

  <a data-w-tab="Tab Mission" id="tab-mision" data-w-id="36d0ee36-5bc8-c9e1-a945-8d10d22193f3"
    class="tab-link mission w-inline-block w-tab-link">
    <div>Misión</div>
  </a>
  <a data-w-tab="Tab Activities" id="tab-actividades" data-w-id="36d0ee36-5bc8-c9e1-a945-8d10d22193f6"
    class="tab-link activities w-inline-block w-tab-link w--current">
    <div>Actividades</div>
  </a>
  <a data-w-tab="Tab Space" id="tab-espacio" data-w-id="36d0ee36-5bc8-c9e1-a945-8d10d22193f9"
    class="tab-link space w-inline-block w-tab-link">
    <div>Espacio</div>
  </a>
  <a data-w-tab="Tab Contact" id="tab-contacto" data-w-id="35ef01c2-3e4d-c42d-13a1-c06dbdb84fe0"
    class="tab-link contact w-inline-block w-tab-link">
    <div>Contacto</div>
  </a>
</div>